<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">amit</property>
        <property name="hibernate.connection.password">amit123</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/examdb</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="com.srivastava.entity.Employee"/>
    </session-factory>
</hibernate-configuration>